@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This was a project that I wanted to work on because I enjoy geography. I figured the best way to show that love through this newly learned medium was to make a map app. I really wanted to make it so that People could do several things with the classes, including calculating the distance between two cities from coordinates, how long it would take to get there in a specific vehicle, and how much it would cost. Unfortunately, I was not able to accomplish this. I plan to improve this project as soon as possible to make it worth presenting as a piece of my work. -Jonathan Tague</p>
