@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Way To Go</h1>
    <p class="lead">Way To Go is an app that allows the user to save routes, cities, and methods of transport, and calculate distances, and travel times</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            I created this app becuase I wanted to use my love of maps, and math to use coordinates and speeds to calculate various aspects of travel.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Author</h2>
        <p>Jonathan Tague is a new Software engineer in Fishers, Indiana, trained at ElevenFiftyAcademy</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>If you have questions about the app you can contact me at my email Jtague111@gmail.com, and see my portfolio here <a href="https://jtague111.github.io/Portfolio/Index.Html">https://jtague111.github.io/Portfolio/Index.Html</a>
</div>